body {
  font-family: 'Lato';
 
  background-color: #e1831f;
}
img{position: absolute;}
.rounded-circle {
  border-radius: 51%!important;
}
.navbar-text{color:black !important;background-color: white; padding:10px; }
a{
  color:#e1831f;
}
a:hover{
  text-decoration: none;
  color:black;
}
hh{color:#e1831f;}
p{font-family: "Comic Sans MS", cursive, sans-serif;line-height: 27px;}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: 800 !important;
}
#info{
  background-color: #ffffff;
  color:black;

}
@media (max-width: 770px) {
  .img{
    position: relative;

  }
  .rounded-circle{
    border-radius: 1%!important;
  }
  
}

h{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size:1.7em;
}

.text-theme {
  color: #cdcdcd !important;
}


hr{
  background-color:#e1831f !important;
  height:1.4px;
}
.navbar-brand{
  color:#e1831f !important;
}

