body {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran';
  font-weight: 800 !important;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: #000 !important;
}
.text-black{
  color:black;
}
.bg-theme {
  background-color: #f7f7f7 !important;
}
.bg-theme-color{
  background-color: #e95420 !important;
  
}
.text-theme {
  color: #cdcdcd !important;
}
.text-theme-color{
  color:#e95420;
}
.bg-hover-color:hover{
  background-color: rgb(126, 124, 124) !important;
}
.b-rad-0{
  border-radius: 0px;
}



.rounded-pill {
  border-radius: 5rem;
}
.nav-logo{
  height: 40px;
} 
.navbar-brand{
  color:#e95420 !important;
}
.navbar-brand:hover{
  color:#e95420 !important;
}
.navbar-custom {
  background-color: #f7f7f7;
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    display: block;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 101;
  padding: 1px;
}

.active-hover:hover{
  color:#e95420 !important;
}
.navbar-dark .navbar-nav .nav-link{
  color: black !important;
}
.navbar-dark .navbar-nav .nav-link:visited{
  color: black !important;
}
.navbar-dark .navbar-nav .nav-link:hover{
  color: #e95420 !important;
}
.nav-link:hover{
  color:#e95420 !important;
}
.navbar-custom .navbar-brand {
  font-size: 15px;
  letter-spacing: 0.1rem;
  font-weight: 700;
  color: #333;
}
.scroll {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid rgba(0,0,0,.125);
  -ms-overflow-style: none; 
  overflow: -moz-scrollbars-none;  
}
.scroll::-webkit-scrollbar { 
  display: none; 
}
.navbar-custom .navbar-nav .nav-item .nav-link {
 
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding: 14px;
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background: linear-gradient(0deg, #ff6a00 0%, #ee0979 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

header.masthead .masthead-content .masthead-heading {
  font-size: 4rem;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
}

header.masthead .bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  background: linear-gradient(0deg, #ee0979 0%, #ff6a00 100%);
}

header.masthead .bg-circle-1 {
  height: 90rem;
  width: 90rem;
  bottom: -55rem;
  left: -55rem;
}

header.masthead .bg-circle-2 {
  height: 50rem;
  width: 50rem;
  top: -25rem;
  right: -25rem;
}

header.masthead .bg-circle-3 {
  height: 20rem;
  width: 20rem;
  bottom: -10rem;
  right: 5%;
}

header.masthead .bg-circle-4 {
  height: 30rem;
  width: 30rem;
  top: -5rem;
  right: 35%;
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(10rem + 55px);
    padding-bottom: 10rem;
  }
  header.masthead .masthead-content .masthead-heading {
    font-size: 6rem;
  }
  header.masthead .masthead-content .masthead-subheading {
    font-size: 4rem;
  }
}

.bg-primary {
  background-color: #e95420 !important;
}

.btn-primary {
  background-color: #e95420;
  border-color: #e95420;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #e95420 !important;
  border-color: #e95420 !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
}

.btn-secondary {
  background-color: #ff6a00;
  border-color: #ff6a00;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #cc5500 !important;
  border-color: #cc5500 !important;
}

.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
}


#blog-card{
  margin-top:5%;
}
.blog-card-text{
  color: rgba(0,0,0,.54)!important;
}
.link-underline:hover {
  color: black; 
  text-decoration: underline;
}
a:hover {
  color: #ff6a00;
  text-decoration: underline;
}