


/* ---- particles.js container ---- */

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #dd4814;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}


/* ---- stats.js ---- */

.count-particles {
	background: #000022;
	position: absolute;
	top: 48px;
	left: 0;
	width: 80px;
	color: #13E8E9;
	font-size: .8em;
	text-align: left;
	text-indent: 4px;
	line-height: 14px;
	padding-bottom: 2px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}

.js-count-particles {
	font-size: 1.1em;
}

#stats,
.count-particles {
	-webkit-user-select: none;
	margin-top: 5px;
	margin-left: 5px;
}

#stats {
	border-radius: 3px 3px 0 0;
	overflow: hidden;
}

.count-particles {
	border-radius: 0 0 3px 3px;
}
/*  -------------------- End Particles CSS */

/* Helpers for top position on internal page links
====================================================*/
#topPos:before,
h3:before { 
  display: block; 
  content: " "; 
  margin-top: -80px; 
  height: 80px; 
  visibility: hidden; 
}
/* AFFIX STYLES
====================================================*/

nav .navbar-brand {
	font-size: 27px;
  }
  nav .navbar-toggle {
	margin: 13px 15px 13px 0;
  }
  nav a {
	font-size: 18px;
	padding-bottom: 12px !important;
	padding-top: 12px !important;
	transition: all 0.3s ease;
  }
  nav.navbar.shrink {
	min-height: 20px;
  }
  nav.navbar.shrink .navbar-brand {
	font-size: 22px;
  }
  nav.navbar.shrink a {
	font-size: 14px;
	padding-bottom: 6px !important;
	padding-top: 6px !important;
  }
  nav.navbar.shrink .navbar-toggle {
	margin: 8px 15px 8px 0;
	padding: 4px 5px;
  }
  



.m-navbar,.navbar-default,.navbar-brand,.navbar-nav{
	background-color: #dd4814 !important;
	color:white !important;
}
.navbar-nav li a{
	background-color: #dd4814 !important;
	color:white !important;
}
.navbar-default{
	border-color:#dd4814 !important
}

/*  footer */

.footer {
	margin-top: 107px;
	padding-top: 22px;
	padding-bottom: 10px;
	color: white;
  }

  /* end footer */