* {
	transition-duration: 0.2s;
}


section {
	margin-top: 40px;
}
section:first-of-type {
	margin-top: 0;
}
.page-heading {
	padding: 20px 0 40px;
	text-align: center;
}

.divider {
	border-bottom: 1px solid #ccc;
}

li a {
	transition-duration: 1s;
	
}



/* ---- reset ---- */

body {
	margin: 0;
	
}

canvas {
	display: block;
	vertical-align: bottom;
}


/* ---- particles.js container ---- */

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #2074b9;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}


/* ---- stats.js ---- */

.count-particles {
	background: #000022;
	position: absolute;
	top: 48px;
	left: 0;
	width: 80px;
	color: #13E8E9;
	font-size: .8em;
	text-align: left;
	text-indent: 4px;
	line-height: 14px;
	padding-bottom: 2px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}

.js-count-particles {
	font-size: 1.1em;
}

#stats,
.count-particles {
	-webkit-user-select: none;
	margin-top: 5px;
	margin-left: 5px;
}

#stats {
	border-radius: 3px 3px 0 0;
	overflow: hidden;
}

.count-particles {
	border-radius: 0 0 3px 3px;
}
/*  -------------------- End Particles CSS */

/* Helpers for top position on internal page links
====================================================*/
#topPos:before,
h3:before { 
  display: block; 
  content: " "; 
  margin-top: -80px; 
  height: 80px; 
  visibility: hidden; 
}
/* AFFIX STYLES
====================================================*/
.panel-affix {
	min-width: 225px;
}

.m-navbar,.navbar-default,.navbar-brand,.navbar-nav{
	background-color: #2074b9 !important;
	color:white !important;
}
.navbar-nav li a{
	background-color: #2074b9 !important;
	color:white !important;
}
.navbar-default{
	border-color:#2074b9 !important
}


.middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	margin-top: 18%;
}
