<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{site.baseurl}}/images/favicon_io/favicon.ico">
     {% seo %}
    <link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap.min.css">
    <link href="{{site.baseurl}}/css/style.css" rel="stylesheet">
    <script src="{{site.baseurl}}/js/jquery.min.js"></script>

</head>
<body>