<nav id="sidebar">
    <div class="sidebar-header">
        <span class="twitter-content">
        <a href="https://twitter.com/thebishalthapa" class="twitter-follow-button"
           data-show-count="false">Follow @TwitterDev</a><script async
                                                                 src="https://platform.twitter.com/widgets.js"
                                                                 charset="utf-8"></script>
            </span>
        <p class="header-title">
            Hey, Take a peek.
        </p>
        <div>

            <div class="blog-title">

                <div class="blog-logo">
                  <a href="{{site.url}}">  <span class="first-name">Bishal</span> <span class="last-name">Thapa</span> </a>
                </div>


            </div>
            <button type="button" id="sidenavbar" class="navbar-toggle ">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
    </div>

    {% assign current = page.url | downcase | split: '/' %}
    <ul class="list-unstyled components" id="sidenavbar">

        <li>
            <a {% if current[1]== node.url or current[1] contains "blog" %} class='active' {% endif
            %}
            href="{{site.baseurl}}/"> <i class="glyphicon glyphicon-book"></i> Posts</a>
        </li>
        <li>
            <a {% if current[1]== 'categories'or current[1] contains "category" %}class='active' {%
            endif %}
            href="{{site.baseurl}}/categories"><i class="	glyphicon glyphicon-th"></i>
            Categories</a>
        </li>
        <li>
            <a {% if current[1]== 'about' %}class='active' {% endif %}
            href="{{site.baseurl}}/about"><i
            class="glyphicon glyphicon-info-sign"></i> About</a>
        </li>
        <li>
            <a href="{{site.baseurl}}/feed.xml"><i class="
                    glyphicon glyphicon-open"></i> RSS</a>
        </li>
    </ul>
    <div>

</nav>