{% include header.html %}
{% include nav.html %}


<div id="main">
    <div id="content">
        <div class="post-content m-5">

            <article class="about terminal">
                 <div class="shell"> <i class="glyphicon glyphicon-console"></i> Shell</div>
                <p class="cursor-text">
                <i class="glyphicon glyphicon-menu-right">  </i> Bishal Thapa is a computer programmer based in Portugal. He has passion for
                programming and loves to solve software based problems <i class="cursor-blink">_</i>
                </p>
            </article>

        </div>
    </div>
</div>

{% include footer.html %}