
{% include header.html %}
<link rel="stylesheet" href="{{site.baseurl}}/css/styles/dark.css">
<script src="{{site.baseurl}}/js/highlight.pack.js"></script>
{% include nav.html %}

<div id="main">
    <div id="content">
        <article>
            <h1 class="post-title">{{page.title}}</h1>

            <div class="post">
                <div class="post-details">
                    <p class="post-date">
                        Published on : {{ page.date | date: "%-d %B %Y" }}
                    </p>
                    <ul class="post-tags">
                        {% for category in page.categories %}
                        <li class="tag"><a href="#">&#8226; {{ category}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="line"></div>


            {{ content }}



            <div class="disqus-comment">
                {% include disqus.html %}
            </div>
    </div>
    </article>

</div>


<script>hljs.initHighlightingOnLoad();</script>
{% include footer.html %}